In [1]:
import pandas as pd
data = pd.read_csv('data/ab_data_tourist.csv')
data.head()

   user_id        date group  purchase   price
0   851104  2021-01-21     A         0       0
1   804228  2021-01-12     A         0       0
2   661590  2021-01-11     B         0       0
3   853541  2021-01-08     B         0       0
4   864975  2021-01-21     A         1  150000

## Анализ структуры и предобработка данных

### Информаця о структуре

In [3]:
print("\nИнформация о данных:")
print(data.info())

Информация о данных:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   294478 non-null  int64
 1   date      294478 non-null  object
 2   group     294478 non-null  object
 3   purchase  294478 non-null  int64
 4   price     294478 non-null  int64
dtypes: int64(3), object(2)
memory usage: 11.2+ MB
None

In [4]:
print("\nОсновные статистики:")
print(data.describe())

Основные статистики:
             user_id       purchase          price
count  294478.000000  294478.000000  294478.000000
mean   787974.124733       0.119659   10154.782361
std     91210.823776       0.324563   35153.824872
min    630000.000000       0.000000       0.000000
25%    709032.250000       0.000000       0.000000
50%    787933.500000       0.000000       0.000000
75%    866911.750000       0.000000       0.000000
max    945999.000000       1.000000  200000.000000

In [5]:
print("\nУникальные значения в столбце 'group':")
print(data['group'].value_counts())

Уникальные значения в столбце 'group':
group
B    147276
A    147202
Name: count, dtype: int64

### Преобразование к типу данных

In [6]:
#Преобразуем дату в datetime
data['date'] = pd.to_datetime(data['date'])